body {
	margin: auto;
	padding: 10px;
	color: #333333;
	background-image: url('../images/bg.png');
}

div#main {
	width: 1000px;
	margin: auto;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 5px;
}

#header,#bdy{
	width: 1000px;
	margin: 0px;
	padding:10px;
	height: 120px;
}

#bdy {
height: 100%;
margin-bottom: 100px;
overflow: auto;
}

#bw {
	display: inline-block;
	float: right;	
}

#nav {
	position: fixed;
   margin: 0px;
   padding: 0px;
   top: 50px;
   left: 0px;
   list-style: none;
   z-index:99;
}

ul#nav li{
	width: 125px;
}

ul#nav li a {
	font-size: 30px;
	text-decoration: none;
	text-align: center;
   display: block;
   margin-left: -2px;
   width: 125px;
   height: 50px;
   padding-top: 10px;
   color: #ffffff;
   background-color: black;
   background-repeat:no-repeat;
   background-position:center center;
   border:1px solid #AFAFAF;
   border-radius: 0px 10px 10px 0px;
   opacity: 0.6;
}

canvas {
	border:1px solid #aaaaaa;	
}

#musicPlayer,#topicBox {
	width: 250px;
	height: 420px;
	float: left;
	padding: 5px
}

#topicBox {
	width: 700px;
	margin-left: 20px;
	height: 100%;
}

.albumImage {
	width: 150px;
	height: 150px;	
}

div.topic:hover {
	background-color: #E6F3FF;	
}

ul.list li {
	display: inline-block;
   background-color: #FFFFCC;
   padding: 2px;
}
ul.list li {
	cursor:pointer;	
}
